<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div class="card">
    <div class="row">
      <aside class="col-sm-5 border-right">
        <article class="gallery-wrap">
          <div class="img-big-wrap">
            <div> <a href="#"><img src="https://cdn3.iconfinder.com/data/icons/cat-pattern-colored/94/cat17-512.png"></a></div>
          </div> <!-- slider-product.// -->
        </article> <!-- gallery-wrap .end// -->
      </aside>
      <aside class="col-sm-7">
        <article class="card-body p-5">
          <h3 class="title mb-3">{{product.name}}</h3>

          <p class="price-detail-wrap">
	<span class="price h3 text-warning">
		<span class="currency">US $</span><span class="num">{{product.price}}</span>
	</span>
          </p> <!-- price-detail-wrap .// -->
          <dl class="item-property">
            <dt>Description</dt>
            <dd><p>{{product.discription}}</p></dd>
          </dl>
          <hr>
          <div class="row">
            <div class="col-sm-5">
              <dl class="param param-inline">
                <dt>Available Quantity: </dt>
                {{product.quantity}}
              </dl>  <!-- item-property .// -->
            </div> <!-- col.// -->
          </div> <!-- row.// -->
          <div class="row">
            <div class="col-sm-5">
              <dl class="param param-inline">
                <dt>Quantity to buy: </dt>
                <dd>
                  <select class="form-control form-control-sm" style="width:70px;" [(ngModel)]="selectOption">
                    <option> 1 </option>
                    <option> 2 </option>
                    <option> 3 </option>
                    <option> 4 </option>
                    <option> 5 </option>
                    <option> 6 </option>
                    <option> 7 </option>
                    <option> 8 </option>
                    <option> 9 </option>
                    <option> 10 </option>
                  </select>
                </dd>
              </dl>  <!-- item-property .// -->
            </div> <!-- col.// -->
          </div> <!-- row.// -->
          <hr>
          <a (click)="addProductToCart()" class="btn btn-lg btn-primary text-uppercase funct-btn">Add to Cart </a>
          <a [routerLink]="['/product-edit/' + product.productId]" class="btn btn-lg btn-primary text-uppercase funct-btn">Edit Product </a>
          <a [routerLink]="['/product-create']" class="btn btn-lg btn-primary text-uppercase funct-btn">Create New Product </a>
          <a [routerLink]="['/product-add-to-campaign/'+product.productId]" class="btn btn-lg btn-primary text-uppercase funct-btn">Add Product To Campaign </a>
          <a (click)="deleteProduct(product)" class="btn btn-lg btn-primary text-uppercase funct-btn">Delete Product </a>
        </article> <!-- card-body.// -->
      </aside> <!-- col.// -->
    </div> <!-- row.// -->
  </div> <!-- card.// -->


</div>
