<div class="site-wrapper">
  <div class="text-wrapper">
    <br>
    <div class="title" style="text-align:center">
      <h1>
        Edit Product
      </h1>
    </div>
    <div class="container-form">
      <form [formGroup]="productFormGroup" (ngSubmit)="submitRegistration()" novalidate>
        <div *ngIf="validMessage != ''">
          <h3 class="has-info">{{validMessage}}</h3>
        </div>
        <div class="form-group">
          <label>Product Name</label>
          <input type="text" class="form-control" formControlName="name" required autofocus value="{{product.name}}"/>
        </div>
        <div class="form-group">
          <label>Add Product Quantity</label>
          <input type="text" class="form-control" formControlName="quantity" required value="0"/>
        </div>
        <div class="form-group">
          <label>Edit Regular Price</label>
          <input type="text" class="form-control" formControlName="price" required value="{{product.price}}"/>
        </div>
        <div class="form-group">
          <label>Edit Minimal Price</label>
          <input type="text" class="form-control" formControlName="minPrice" required value="{{product.minPrice}}"/>
        </div>
        <div class="form-group">
          <label>Description</label>
          <input type="text" class="form-control" formControlName="description" value="{{product.discription}}"/>
        </div>
      </form>
      <div class="form-group">
        <form [formGroup]="categoryFormGroup" (ngSubmit)="submitRegistration()" novalidate>
          <label>Account Type</label>
          <select class="form-control-select" formControlName="category" [(ngModel)]="categoryId">
            <option> IT </option>
            <option> Photography </option>
            <option> Electrical Appliances </option>
            <option> Clothes </option>
            <option> Health and Care </option>
            <option> Books </option>
            <option> Toys </option>
            <option> Sport </option>
            <option> Food </option>
            <option> Other </option>
          </select>
        </form>
      </div>
      <button type="submit" class="btn btn-primary" (click)="submitRegistration()" >Submit</button>
    </div>
  </div>
</div>
