<div class="site-wrapper">
  <div class="text-wrap">
    <br>
    <div class="title" style="text-align:center">
      <h1>
        {{ title }}
        <br>
        {{validMessage}}
      </h1>
    </div>
    <button type="submit" class="btn btn-primary" [routerLink]="['/campaign-create']" >Create Campaign</button><br>
    (click on campaign name to edit)
    <div class="container-table"
         *ngIf="campaigns && campaigns.length">
      <table class="table table-bordered table-inverse">
        <tr>
          <th>Name</th>
          <th>Is active?</th>
        </tr>
        <tr *ngFor="let campaign of campaigns">
          <!--          <td>
                      <nav>
                        <a [routerLink]="['/account/',account.accID]">{{account.firstName}}</a>
                      </nav>
                    </td>-->
          <td  (click)="editCampaign(campaign)">
            {{campaign.name}}
          </td>
          <td>
            {{campaign.isActive}}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
