<div class="site-wrapper">
  <div class="text-wrapper">
    <br>
    <div class="title" style="text-align:center">
      <h1>
        Create Product
      </h1>
    </div>
    <div class="container-form">
      <form [formGroup]="productFormGroup" (ngSubmit)="submitRegistration()" novalidate>
        <div *ngIf="validMessage != ''">
          <h3 class="has-info">{{validMessage}}</h3>
        </div>
        <div class="form-group">
          <label>Product Name</label>
          <input type="text" class="form-control" formControlName="name" required autofocus/>
        </div>
        <div class="form-group">
          <label>Product Quantity</label>
          <input type="text" class="form-control" formControlName="quantity" required/>
        </div>
        <div class="form-group">
          <label>Product Price</label>
          <input type="text" class="form-control" formControlName="price" required/>
        </div>
        <div class="form-group">
          <label>Product Min Price</label>
          <input type="text" class="form-control" formControlName="minPrice" required/>
        </div>
        <div class="form-group">
          <label>Description</label>
          <input type="text" class="form-control" formControlName="description"/>
        </div>
      </form>
      <div class="form-group">
        <form [formGroup]="categoryFormGroup" (ngSubmit)="submitRegistration()" novalidate>
          <label>Category</label>
          <select class="form-control-select" formControlName="category" [(ngModel)]="categoryId">
            <option> IT </option>
            <option> Photography </option>
            <option> Electrical Appliances </option>
            <option> Clothes </option>
            <option> Health and Care </option>
            <option> Books </option>
            <option> Toys </option>
            <option> Sport </option>
            <option> Food </option>
            <option> Other </option>
          </select>
        </form>
        <button type="submit" class="btn btn-primary" (click)="submitRegistration()" >Submit</button>
      </div>
    </div>
  </div>
</div>
