/*
.sign-up-link, .login-link {
  background-color: seagreen;
  font-weight: bold;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgba(247,157,62,0.8);
  position: fixed;
  top: 0;
  width: 100%;
}
li {
  float: left;
}
.clearfix::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 20px 25px;
  text-decoration: none;
}
li a:hover {
  color: white;
  background-color: #666666;
}
.store_logo{
  margin-left: 20px;
  margin-top: 10px;
  padding-bottom: 5px;
}
.header-wrapper{
 position: relative;
  z-index: 1;
}
.header-bar{
  height: auto;
}
!*Drop Down Dining*!
.product-dropdown {
  float: left;
  overflow: hidden;
}
.clearfix::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.product-dropdown .dropdown-btn {
  border: none;
  outline: none;
  padding: 20px 25px;
  background-color: inherit;
}

.product-dropdown:hover .dropdown-btn {
  background-color: seagreen;
}

.dropdown-content {
  display: none;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 20px 25px;
}
.clearfix::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}


.dropdown-content a:hover {
  color: white;
  background-color: #666666;
}

.product-dropdown:hover .dropdown-content {
  display: block;
}
!*Dropdown Account*!
.account-dropdown {
  float: left;
  overflow: hidden;
}
.clearfix::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.account-dropdown .dropdown-acc-btn {
  border: none;
  outline: none;
  padding: 20px 25px;
  background-color: inherit;
}

.account-dropdown:hover .dropdown-acc-btn {
  background-color: seagreen;
}

.dropdown-acc-content {
  display: none;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 20px 25px;
}
.clearfix::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}


.dropdown-acc-content a:hover {
  color: white;
  background-color: #666666;
}

.account-dropdown:hover .dropdown-acc-content {
  display: block;
}
*/
