<div class="header-wrapper">
  <ul class="header-bar">
    <li class="logo">
      <div style="left:-30px;" class="store_logo">
        <img src="https://cdn2.iconfinder.com/data/icons/logistics-delivery-glyphs-vol-2/52/cart__shop__shopping__pushcart__trolley__carrier__carry-512.png"
             alt="store-logo"
             id="store-logo"
             width
               ="45"
             height
               ="45"
             [routerLink]="['']">
      </div>
    </li>
<!--    <li class="product-dropdown" style="font-weight: bold; margin-left: 30px; padding-bottom:0 ">
      <div class="dropdown-content">
        <a [routerLink]="['dining-place/create']" class="create-product-link">Create</a>
        <a [routerLink]="['product-list/product']" class="get-all-dining-link">All</a>
      </div>
    </li>
    <li class="account-dropdown" style="font-weight: bold; margin-left: 30px; padding-bottom:0 ">
      <button class="dropdown-acc-btn" style="font-weight: bold;">
        Accounts
      </button>
      <div class="dropdown-acc-content">
        <a [routerLink]="['account/create']" class="create-acc-link">Create</a>
        <a [routerLink]="['account/account-list']" class="get-all-acc-link">All</a>
      </div>
    </li>-->
    <li style="float:right">
      <a class="sign-up-link">Sign Up</a>
    </li>
    <li style="float:right">
      <a class="login-link">Login</a>
    </li>
  </ul>
</div>
