<div class="site-wrapper">
  <div class="text-wrap">
    <br>
    <div class="title" style="text-align:center">
      <h1>
        {{ title }}
      </h1>
    </div>
    <div class="filter-input">
      Filter by:
      <input type="text" [(ngModel)]="listFilter">
    </div>
    <div>
      <div>
        <h4> Filtered by: {{listFilter}}</h4>
      </div>
    </div>
    <div class="container-table"
         *ngIf="foodPlaces && foodPlaces.length">
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Telephone</th>
          <th>Link To Website</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let foodPlace of filteredFoodPlaces">
          <td>
            <nav>
              <a [routerLink]="['/product-list/view-product',foodPlace.foodPlaceID]">{{foodPlace.name}}</a>
            </nav>
          </td>
          <td>
            {{foodPlace.address}}
          </td>
          <td>
            {{foodPlace.telephone}}
          </td>
          <td>
            <a href="{{foodPlace.linkToWebsite}}">
              {{foodPlace.linkToWebsite}}
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
