.container-table{
  position: relative;
  text-align: center;
  width: 100%;
}
.text-wrap{
  position: absolute;
  top: 70px;
  background:rgba(255,255,255,0.8);
  padding-right: 10px;
  padding-left: 10px;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-weight: bold;
}
.site-wrapper{
  color: black;
  background-image: url(https://www.tropical-islands.de/fileadmin/_processed_/6/6/csm_TI_RESTAURANT_PALMBEACH4_RGB_2000x860_add5f54263.jpg);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  height: 100vh;
  justify-content: center;
}

