<div class="site-wrapper">
  <div class="text-wrap">
    <br>
    <div class="title" style="text-align:center">
      <h1>
        {{account.name}}
      </h1>
    </div>
    <div class="table-wrapper">
      <div class="form-group">
        <label>Email: </label>
        <div class="form-control">{{account.email}}</div>
      </div>
    </div>
    <div class="btn-wrapper">
      <button class="btnz delete-btn" (click)="logout()">
        <a>Log out</a>
      </button>
      <button class="btnz update-btn">
        <a (click)="goToEditAccount()">Edit</a>
      </button>
      <button class="btnz update-btn">
        <a  (click)="getAllAccounts()" >See All accounts</a>
      </button>
    </div>
    <button class="btnz update-btn">
      <a [routerLink]="['/campaign-list']">See Campaigns</a>
    </button>
    <button class="btnz update-btn">
      <a [routerLink]="['/product-list-not-in-stock']">See Products Out of Stock</a>
    </button>
    <div class="form-group">
      <form [formGroup]="reportTimeFormGroup" (ngSubmit)="seeSalesReport()" novalidate>
        <label>Campaigns</label>
        <div> Get Sales report for this: </div>
        <select class="form-control-select" formControlName="reportTime" [(ngModel)]="reportTime">
          <option>year</option>
          <option>month</option>
          <option>day</option>
        </select>
      </form>
    </div>
    <button class="btnz update-btn">
      <a (click)="seeSalesReport()">See Sales Report</a>
    </button>
  </div>
</div>
